{% extends 'base.html' %}
{% block content %}
<p><a href="{% url 'main:show_main' %}"><button>← Back to Shop</button></a></p>

<h1>{{ item.name }}</h1>
<p>
  <b>{{ item.get_category_display }}</b>
  {% if item.is_featured %} | <b>Featured</b>{% endif %}
  {% if item.is_item_hot %} | <b>Hot</b>{% endif %}
  {% if item.created_at %} | <i>{{ item.created_at|date:"d M Y, H:i" }}</i>{% endif %}
  | Views: {{ item.item_views }}
</p>

{% if item.thumbnail %}
  <img src="{{ item.thumbnail }}" alt="Item thumbnail" width="300">
  <br /><br />
{% endif %}

<p>{{ item.description }}</p>

{% if item.user %}
    <p>Author: {{ item.user.username }}</p>
{% else %}
    <p>Author: Anonymous</p>
{% endif %}

{% endblock content %}
